[role="tablist"] {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

[aria-selected="true"] {
text-decoration-thickness: 0.25em;
text-underline-offset: 0.5em;
color: orangered;
}

/* DEIXAR OS TABS MAIS APRESENTÁVEIS */
.tabs-container {
padding: 2.5rem;
border-radius: 0.5rem;
background: hsl(0 0% 50% / 0.1);
}

:root {
/* DARK-MODE OU NÃO */
--color-scheme: var(--dark-mode);

--font-family: system-ui;

--fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
--fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
--fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
--fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
--fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
--fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
--fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

--clr-primary-300: hsl(219, 76%, 55%);
--clr-primary-400: hsl(219, 76%, 40%);
--clr-primary-500: hsl(219, 76%, 25%);
--clr-secondary-300: hsl(269, 75%, 55%);
--clr-secondary-400: hsl(269, 75%, 40%);
--clr-secondary-500: hsl(269, 75%, 25%);
--clr-accent-300: hsl(358, 72%, 65%);
--clr-accent-400: hsl(358, 72%, 50%);
--clr-accent-500: hsl(358, 72%, 35%);

/* CONFIGURAÇÕES */
--no-dark-mode: light;
--dark-mode: dark light;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
color-scheme: var(--color-scheme);
}

body {
margin: 0;
font-family: var(--font-family);
font-size: var(--fs-400);
line-height: 1.6;
}

.wrapper {
width: min(50rem, 100% - 2rem);
margin-inline: auto;
border: 1px solid blue;
}

.site-title {
font-size: var(--fs-900);
line-height: 1.05;
text-transform: uppercase;
}

.section-title {
font-size: var(--fs-800);
line-height: 1.1;
}

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

div#centralizar-qr {
    text-align: center;
}

div#centralizar-qr img {
    width: 300px;
    height: 300px;
}

/* Estilos do botão */
.blue-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .blue-button:hover {
    background-color: #2980b9;
    border: 1px solid rgb(37, 37, 37);

  }
  
  .blue-button:active {
    background-color: #216a94;
    border: 1px solid black;
  }

/* Typical Device Breakpoints
-----------------------------

Pequenas telas: até 600px
Celular: de 600px até 767px
Tablet: de 768px até 991px
Desktop: de 992px até 1199px
Grandes Telas: 1200px +

*/
form {
    border: 2px solid white;
}

@media (min-width: 280px) and (max-width: 360px) {
    h1#tabs-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .tabs-container ul > li > a > img {
        width: 40px;
    }

    div  p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    input {
        display: block;
        width: 200px;
        height: 40px;
        margin-top: -22px;
    }

    label#lblEstado{
        margin-bottom: -47px;
    }

    label#lblComplemento {
        margin-top: -22px;
    }

    label {
        display: block;
    }

    div#centralizar-qr img {
        width: 220px;
        height: 220px;
    }
}

@media (min-width: 361px) and (max-width: 599px) {
    h1#tabs-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .tabs-container ul > li > a > img {
        width: 40px;
    }

    div  p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    input {
        display: block;
        width: 250px;
        height: 40px;
        margin-top: -22px;
    }

    label#lblEstado{
        margin-bottom: -47px;
    }

    label#lblComplemento {
        margin-top: -22px;
    }

    label {
        display: block;
    }

    div#centralizar-qr img {
        width: 250px;
        height: 250px;
    }

}

@media (min-width: 450px) and (max-width: 767px) {
    .tabs-container ul > li > a > img {
        width: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tabs-container ul > li > a > img {
        width: 60px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .tabs-container ul > li > a > img {
        width: 65px;
    }
}

@media (min-width: 1200px) {
    .tabs-container ul > li > a > img {
        width: 70px;
    }
}