#meuPane {
    -fx-background-color: rgb(94, 106, 216); 
    -fx-background-radius: 30px; 
}
#anchorPane {
    -fx-background-color: rgb(66, 92, 211); 
    -fx-background-radius: 30px; 
}

.botao-customizado {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-padding: 5px 10px;
}
