<form action="/adicionar" method="post">
    <p>
        <label for="inome">Nome: </label>
        <input type="text" name="nome" placeholder="Primeiro Nome" id="inome">
    </p>

    <p>
        <label for="isobrenome">Sobrenome: </label>
        <input type="text" name="sobrenome" placeholder="Sobrenome" id="isobrenonome">
    </p>

    <p>
        <label for="iemail">Email: </label>
        <input type="email" name="email" id="iemail" placeholder="email@gmail.com">
    </p>

    <p>
        <label for="isenha">Senha: </label>
        <input type="password" name="senha" id="isenha" placeholder="[a-z]-[0-9]">
    </p>

    <p>
        <label for="icpf">Cpf: </label>
        <input type="text" name="cpf" id="icpf" placeholder="12345678901">
    </p>

    <button type="submit">Cadastrar</button>
</form>