<head>
    <title>Home</title>
	<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	/>
	<link rel="stylesheet" href="./style/media-query.css">
</head>


<body>
	<!-- Navbar -->
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button
					type="button"
					class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#navbar"
					aria-expanded="false"
					aria-controls="navbar"
				>
					<span class="sr-only">Navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					Casa Inteligente
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#planos" style="color: white;">Planos</a></li>
					<li><a href="#about" style="color: white;">Sobre</a></li>
					<li><a href="#contact" style="color: white;">Contato</a></li>
					<li><a href="/cadastro" style="color: white;">Comprar</a></li>
					<li>
						<a
							class="login"
							href="/login"
							style="color: white;">
							<span class="material-symbols-outlined">person</span>
						</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<!-- Image1 -->
	<div class="pimg1">
		<div class="ptext">
			<span class="border">
				<video muted autoplay loop playsinline class="pimg1">
					<source src="./imgs/video3.mp4" type="video/mp4">
					Seu navegador não suporta o elemento de vídeo.
				</video>
			</span>
			<h1 class="headH1">Garanta o seu acesso</h1>
		</div>
	</div>

	<section id="home" class="section section-text">
		<img class="logoCV" src="./imgs/logo.png" alt="Logo Casa Virtual"/>
		<h2>Smart House</h2>
		<p class="home">
			O <strong>Smart House</strong> é uma plataforma que possibilita que possibilita você ficar no controle da sua casa sem sair do lugar, trazendo muito masi segurança e conforto para a sua familía.
		</p>
		<p class="home">
			Venha para o nosso serviço de <strong>Casa Inteligente</strong> e tenha a melhor experiência com automatização residencial, fazendo com que você gaste o seu tempo com o que realmente importa.
		</p>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/wedwOQuMQbM?si=JuH-H4imYG7Ws4O0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin: 10px;"></iframe>
		<p class="home">
			Nosso serviço consiste em simplificar o controle das luzes em sua casa. Através do nosso aplicativo desktop, você pode manipular quais luzes você quer acender e quais quer apagar. De acordo com o plano que se encaixa melhor com as necessidades dos nossos clientes.
		</p>
	</section>

	<section id="about" class="section section-text">
		<h2>SOBRE</h2>
		<p class="home">
			Esse sistema foi desenvolvido para a disciplina Prática Profissional II do Colégio técnico da Unicamp (Cotuca). Uma disciplina que visa integrar todos os conhecimentos aprendidos durante o semestre, para assim ser aolicado esses conhecimentos em projetos.
		</p>
		<!-- caixas unicamp e cotuca -->
		<section id="col" style="margin: 30px;">
			<div id="col1-container">
				<a href="https://www.unicamp.br/unicamp/" target="_blank" rel="external">
					<div id="col1"></div>
				</a>
			</div>
			<div id="col2-container">
				<a href="https://cotuca.unicamp.br/cotuca/" target="_blank" rel="external">
					<div id="col2"></div>
				</a>
			</div>
		</section>
		<p class="home">
			Neste projeto foi aprimorado o uso do banco de dados, utilizando Stored Procedure e view na linguagem MySql. O aplicativo desktop foi feito em java utilizando o javafx. Na API foi utilizado o node com express e sequelize, tendo o site dentro do node, com as respectivas rotas de endereço. Finalizando na comunicação pela porta Serial no arduino, que constítui a parte física do projeto em uma casa feita em mdf com crição e montagem para o nosso sistema.
		</p>

		{{!-- IFRAME --}}
	</section>

	<!-- Image3 -->
	<div class="pimg3">
		<div class="ptext">
			<span class="border trans">
				Conforto e Segurança
			</span>
		</div>
	</div>

	<section class="section section-text" id="planos">
		<h2>Planos</h2>
		<p class="home">Aqui está os nossos planos, cada um foi desenvolvido para que agradasse os mais difeente públicos e necessidades.</p>
		<div class="plano">
			{{!-- <div class="img-plano img-plano1"></div> --}}
			<img src="./imgs/quartos.jpg" alt="Plano básico imagem">
			<span>Plano básico</span>
		</div>
		<div class="plano">
			{{!-- <div class="img-plano img-plano2"></div> --}}
			<img src="./imgs/comodos-internos.jpg" alt="Plano Vip imagem">
			<span>Plano Vip</span>
		</div>
		<div class="plano">
			{{!-- <div class="img-plano img-plano3"></div> --}}
			<img src="./imgs/quintal.png" alt="Plano Master imagem">
			<span>Plano Master</span>
		</div>
	</section>

	

	<section id="contact" class="section section-text">
		<!-- MAIN FOOTER -->
		<footer id="main-footer" class="bg-dark">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="py-4">
							<h1 class="h3"><a href="./páginas/localizacao.html">SmartHouse Endereço</a></h1>
							<h5>R. Culto à Ciência, 177 - Centro, Campinas - SP</h5>
							<h6>CEP 13020-060 - telefone: + 55 (19) 3521-9903</h6>
							<p class="home">Copyright &copy; - MIT License</p>
							<button
								class="btn btn-primary"
								data-toggle="modal"
								data-target="#contactModal"
							>
								smarthouse.contato@gmail.com
							</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</section>

	<script
		src="https://code.jquery.com/jquery-3.2.1.js"
		integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		crossorigin="anonymous"
	></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>