<head>
    <title>Home</title>
	<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	/>
	<link rel="stylesheet" href="./style/media-query.css">
</head>


<body>
	<!-- Navbar -->
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button
					type="button"
					class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#navbar"
					aria-expanded="false"
					aria-controls="navbar"
				>
					<span class="sr-only">Navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					Casa Inteligente
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" style="color: white;">Planos</a></li>
					<li><a href="#" style="color: white;">Sobre</a></li>
					<li><a href="#" style="color: white;">Contato</a></li>
					<li><a href="/cadastro" style="color: white;">Comprar</a></li>
					<li>
						<a
							class="login"
							href="/login"
							style="color: white;">
							<span class="material-symbols-outlined">person</span>
						</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<!-- Image1 -->
	<div class="pimg1">
		<div class="ptext">
			<span class="border">
				<video muted autoplay loop playsinline class="pimg1">
					<source src="./imgs/video3.mp4" type="video/mp4">
					Seu navegador não suporta o elemento de vídeo.
				</video>
			</span>
			<h1 class="headH1">Garanta o seu acesso</h1>
		</div>
	</div>

	<section id="home" class="section section-text">
		<img class="logoCV" src="./imgs/logo.png" alt="Logo Casa Virtual"/>
		<h2>Smart House</h2>
		<p class="home">
			O <strong>Smart House</strong> é uma plataforma que possibilita que possibilita você ficar no controle da sua casa sem sair do lugar, trazendo muito masi segurança e conforto para a sua familía.
		</p>
		<p class="home">
			Venha para o nosso serviço de <strong>Casa Inteligente</strong> e tenha a melhor experiência com automatização residencial, fazendo com que você gaste o seu tempo com o que realmente importa.
		</p>
	</section>

	<!-- caixas unicamp e cotuca -->
	<section id="col">
		<div id="col1-container">
			<a href="https://www.unicamp.br/unicamp/" target="_blank" rel="external">
				<div id="col1"></div>
			</a>
		</div>
		<div id="col2-container">
			<a href="https://cotuca.unicamp.br/cotuca/" target="_blank" rel="external">
				<div id="col2"></div>
			</a>
		</div>
	</section>


	<section id="about" class="section section-text">
		<h2>O ESCOPO DO PROJETO</h2>
		<p class="home">
			Nosso projeto constituí de uma iniciativa para que os alunos de qualquer curso, possam por em prática os conhecimentos adquiridos no curso, assim dentro do próprio espaço da instituição possam ter esse ganho de experiência na sua futura profissão.
			Além de ser uma forma de trazer atenção para o espaço educacional COTUCA, tanto da população como das empresas, tendo assi cada vez mais revelância no que diz respeito a formar profissionais qualificados.
		</p>

		{{!-- IFRAME --}}
	</section>

	<!-- Image3 -->
	<div class="pimg3">
		<div class="ptext">
			<span class="border trans">
				Conforto e Segurança
			</span>
		</div>
	</div>

	<section class="section section-text">
		<h2>Planos</h2>
		<p class="home">Siga para adquirir agora</p>
	</section>

	

	<section id="contact" class="section section-text">
		<!-- MAIN FOOTER -->
		<footer id="main-footer" class="bg-dark">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="py-4">
							<h1 class="h3"><a href="./páginas/localizacao.html">SmartHouse Endereço</a></h1>
							<h5>R. Culto à Ciência, 177 - Centro, Campinas - SP</h5>
							<h6>CEP 13020-060 - telefone: + 55 (19) 3521-9903</h6>
							<p class="home">Copyright &copy; - MIT License</p>
							<button
								class="btn btn-primary"
								data-toggle="modal"
								data-target="#contactModal"
							>
								smarthouse.contato@gmail.com
							</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</section>

	<script
		src="https://code.jquery.com/jquery-3.2.1.js"
		integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		crossorigin="anonymous"
	></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>