<head>
    <title>Cadastro Completo</title>
    <link rel="stylesheet" href="./style/form.css">
</head>


<div id="container-pagamento" style="text-align: center;">
    <h1>Área de Pagamento</h1>
    <p>Pagamento realizado com sucesso!</p>
</div>


