<head>
    <title>Perfil</title>
</head>

<body>
    <h1>Perfil</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis totam cupiditate deleniti repellat, dignissimos alias doloribus ipsam eaque id earum assumenda in, odit praesentium placeat dolores facere provident? Officiis, praesentium.</p>
</body>