#pane {
    -fx-background-color: #000000;
}

#anchorPane {
    -fx-background-color: linear-gradient(to left, #022438, #3b81a1);
    -fx-border-color: #207b91;
}

.text-field {
    -fx-background-color: #c7d9e0; 
    -fx-border-color: #ccc;
    -fx-border-radius: 5px; 
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #999; 
}

.text-field:focused {
    -fx-border-color: #0078d4;
}

.text-field:hover {
    -fx-border-color: #0078d4;
}

.login-button {
    -fx-background-color: #0078d4; 
    -fx-border-color: #005aa7;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}

.login-button:hover {
    -fx-background-color: #005aa7; 
    -fx-border-color: #0078d4;
}

.sign-in-label {
    -fx-font-size: 24px; 
    -fx-text-fill: #333;
    -fx-alignment: CENTER;
}

.forgot-password-label {
    -fx-font-size: 18px; 
    -fx-text-fill: #333;
    -fx-alignment: CENTER;
}
